In [1]:
import pandas as pd
import numpy as np
from pyreadr import read_r
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold

In [2]:
import matplotlib.pyplot as plt

In [3]:
data = read_r('data/train.rds')

In [4]:
df = data[None]

In [5]:
df.head(3)

,SampleID,CellType,IGLV3-19,IGHV4-34,IGKC,IGHA1,IGLC3,S100A2,SCGB3A1,IGHG1,...,AC092794.2,AC016722.3,LINC01119,LINC01291,AC010132.4,C7orf69,AL672277.1,FAM66D,AC007298.2,AL139022.2
rownames,,,,,,,,,,,,,,,,,,,,,
AAACCTGAGATATACG_2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGCGTGAAC_2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGCTACCTA_2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.describe()

,SampleID,CellType,IGLV3-19,IGHV4-34,IGKC,IGHA1,IGLC3,S100A2,SCGB3A1,IGHG1,...,AC092794.2,AC016722.3,LINC01119,LINC01291,AC010132.4,C7orf69,AL672277.1,FAM66D,AC007298.2,AL139022.2
count,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,...,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000
mean,6.333398,2.808810,0.935829,0.090065,1.156428,0.368514,0.072652,0.585728,1.428880,0.735481,...,0.000322,0.000484,0.000290,0.000419,0.000387,0.000516,0.000226,0.000451,0.000258,0.000290
std,3.120921,1.882997,58.852290,8.994020,24.451987,14.369674,4.153750,14.337457,34.247756,17.644792,...,0.017955,0.021988,0.017034,0.020471,0.019668,0.022709,0.015023,0.021243,0.016060,0.017034
min,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,10.000000,6547.000000,1278.000000,1368.000000,1062.000000,482.000000,986.000000,2076.000000,1071.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df['CellType'] = df['CellType'].astype('int8')

1. There are a lot of genes without Expression at all. We can discard them.
#There is no need to check for cells (rows) since each has a label so there should be some gene expression (I actually checked it and no changes in shape)

Also, We can further take some risk by removing features with low variance. Let's set 0.01

In [14]:
selector = VarianceThreshold(threshold= .01)

reduced_data = selector.fit_transform(df)

selected_columns = df.columns[selector.get_support()]

clean_data = pd.DataFrame(reduced_data, columns=selected_columns)

In [ ]:
clean_data.

,SampleID,CellType,IGLV3-19,IGHV4-34,IGKC,IGHA1,IGLC3,S100A2,SCGB3A1,IGHG1,...,BLM,STARD4,CCDC171,ITSN1,PPM1H,AHR,HPS5,MEI1,PNMA1,MAP3K9
0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31006,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31007,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
31008,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31009,9.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31010,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

2. For each Cell type, how many samples do we have?

In [27]:
clean_data.groupby(by='CellType')['CellType'].count()

CellType
1.0       449
2.0     24766
3.0       830
4.0       389
5.0        65
6.0        21
7.0      3700
8.0       559
9.0        66
10.0      166
Name: CellType, dtype: int64

In [11]:
clean_data.groupby(by='SampleID')['SampleID'].count()

SampleID
2.0     8153
3.0     2566
6.0     3409
9.0    16883
Name: SampleID, dtype: int64

3. Save cleaned data

In [20]:
clean_data.to_csv('data/cleaned_data.csv', index=False)

In [21]:
x = pd.read_csv('data/cleaned_data.csv')

In [22]:
x.head()

,SampleID,CellType,IGLV3-19,IGHV4-34,IGKC,IGHA1,IGLC3,S100A2,SCGB3A1,IGHG1,...,BLM,STARD4,CCDC171,ITSN1,PPM1H,AHR,HPS5,MEI1,PNMA1,MAP3K9
0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
x.describe()

,SampleID,CellType,IGLV3-19,IGHV4-34,IGKC,IGHA1,IGLC3,S100A2,SCGB3A1,IGHG1,...,BLM,STARD4,CCDC171,ITSN1,PPM1H,AHR,HPS5,MEI1,PNMA1,MAP3K9
count,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,...,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000
mean,6.333398,2.808810,0.935829,0.090065,1.156428,0.368514,0.072652,0.585728,1.428880,0.735481,...,0.043146,0.189352,0.016736,0.085196,0.010287,0.259682,0.309406,0.046887,0.092064,0.007739
std,3.120921,1.882997,58.852290,8.994020,24.451987,14.369674,4.153750,14.337457,34.247756,17.644792,...,0.250009,0.535069,0.161849,0.346583,0.116617,0.671620,0.723322,0.246473,0.353732,0.109253
min,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,10.000000,6547.000000,1278.000000,1368.000000,1062.000000,482.000000,986.000000,2076.000000,1071.000000,...,9.000000,7.000000,13.000000,6.000000,5.000000,13.000000,14.000000,9.000000,17.000000,5.000000

In [24]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31011 entries, 0 to 31010
Columns: 4010 entries, SampleID to MAP3K9
dtypes: float64(4010)
memory usage: 948.7 MB